html {
    height: 100%;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: Arial;
    align-items: center;
    background-color: white;
    color: black;
}

@media screen and (max-width: 500px) {
    body {
       font-size: 0.7em;
    }
  }

h1 {
    font-size: 4em;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

@media screen and (max-width: 500px) {
    h1 {
       font-size: 3em;
    }
  }

input {
    font-size: 1em;
    font-weight: bold;
    color: black;
    background-color: transparent;
    width: 2.5em;
    border: none;
    border-bottom: 5px solid black;
}

p {
    text-align: center;
    font-size: 2em;
    margin: 0;
    margin-bottom: 20px;
}

button {
    font-size: 1em;
    padding: 2px;
}

footer {
    margin-top: 0;
}

h1.block {
    padding: 15px;
}

#row2 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

}

.tooltip {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#svgwrapper {
    flex: 1;
    margin-bottom: 20px;
    width: 100%;
    display: block;
}

#svgelement {
    display: block;
    height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
    margin: 20px;
}
